In [ ]:
# intro to python data Types

# 1- print

print()

In [4]:
print(

SyntaxError: incomplete input (<ipython-input-4-424fbb3a34c5>, line 1)

In [ ]:
print()

In [5]:
# Int:
print(10)

10

In [6]:
print(50)

50

In [7]:
# float:

print(1.6)

1.6

In [8]:
# String = Text

print("hello b")

hello b

In [ ]:
print("10")
# "" = string

In [11]:
print("*&^% ")

*&^%

In [12]:
print('i' ll do it)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-12-6a5d10c0bc67>, line 1)

In [13]:
print("iiiii")

iiiii

In [14]:
#Boolean
print(True)

True

In [16]:
# complex
print(1+3j)

(1+3j)

In [15]:
print(true) # Next Lec

NameError: name 'true' is not defined

In [17]:
# Math Opertions
print(10+5)

15

In [18]:
print(10-5)

5

In [19]:
print(10*5)

50

In [20]:
#Division

print(10/5)

# Division = float

2.0

In [21]:
# Mod

print(5%2)

1

In [24]:
# floor Division

print(5//2)

2

In [25]:
print("hello")
print("hi")
print(1200)

#hello
#hi
#1200

hello
hi
1200

In [27]:
#single line print

print("Hello" ,10 ,"me" ,True)

Hello 10 me True

In [28]:
# variables:

a=10
p=20
ffff=10

firstname="me"

In [30]:
2fristname=10

SyntaxError: invalid decimal literal (<ipython-input-30-51f346d02676>, line 1)

In [31]:
first2name=9

In [33]:
year2000=2000

In [34]:
year_2000=2000

In [35]:
year-2000=1500

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-35-74c2e7964bf6>, line 1)

In [36]:
year$2000=120

SyntaxError: invalid syntax (<ipython-input-36-d90db2c9274e>, line 1)

In [37]:
_year_2000=150

In [38]:
2000_year=150

SyntaxError: invalid decimal literal (<ipython-input-38-2481550f777d>, line 1)

In [39]:
True=10

SyntaxError: cannot assign to True (<ipython-input-39-f9c1faaf4ad0>, line 1)

In [40]:
print=10

In [41]:
if=10

SyntaxError: invalid syntax (<ipython-input-41-d804dbd42c9d>, line 1)

In [42]:
for=20

SyntaxError: invalid syntax (<ipython-input-42-85869c9072f8>, line 1)

In [43]:
while=20

SyntaxError: invalid syntax (<ipython-input-43-ae48e54f1b34>, line 1)